@model Models.EF.User
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Edit","User"))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align:center">
                    <h5>Update Tài Khoản</h5>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th class="col-lg-3" style="text-align:center;">Tên</th>
                                <td>@Html.TextBoxFor(model => model.FullName, new { @class = "textbox" })</td>
                            </tr>
                            <tr>
                                <th class="col-lg-3" style="text-align:center;">Tài Khoản</th>
                                <td>@Html.TextBoxFor(model => model.UserName, new { @class = "textbox" })</td>
                            </tr>
                            <tr>
                                <th class="col-lg-3" style="text-align:center;">Password</th>
                                <td>@Html.TextBoxFor(model => model.Password, new { @class = "textbox" })</td>
                            </tr>
                            <tr>
                                <th class="col-lg-3" style="text-align:center;">Địa Chỉ</th>
                                <td>@Html.TextBoxFor(model => model.Address, new { @class = "textbox" })</td>
                            </tr>
                            <tr>
                                <th class="col-lg-3" style="text-align:center;">Số ĐT</th>
                                <td>@Html.TextBoxFor(model => model.PhoneNumber, new { @class = "textbox" })</td>
                            </tr>
                            <tr>
                                <th class="col-lg-3" style="text-align:center;">Email</th>
                                <td>@Html.TextBoxFor(model => model.Email, new { @class = "textbox" })</td>
                            </tr>
                            <tr>
                                <th class="col-lg-3" style="text-align:center;">Chức Vụ</th>
                                <td>
                                    @Html.DropDownListFor(model => model.User_Right, null, new { @class = "textbox" })
                                </td>
                            </tr>
                            <tr>
                                <th class="col-lg-3" style="text-align:center;">Số thẻ</th>
                                <td>
                                    @Html.TextBoxFor(model => model.CardIDNumbar, null, new { @class = "textbox" })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="submit" value="Update" name="Update" class="btn btn-default" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

