@model Models.EF.Product
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'MM/DD/YYYY'
            });
        });
    </script>
    <script>
        $('#btnSelectImage').on('click', function (event) {
            event.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $('#ImageLink').val(fileUrl);
            };
            finder.popup();
        });
        var editor = CKEDITOR.replace('Describe', {
            customConfig: '~/Scripts/ckeditor/config.js'
        });
    </script>
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align:center">
                    <h5>Update</h5>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th class="col-lg-1" style="text-align:center;">Loại SP</th>
                                <td>
                                    @Html.DropDownListFor(model => model.CateID, null, new { @class = "textbox" })
                                </td>
                            </tr>
                            <tr>
                                <th class="col-lg-1" style="text-align:center;">Giá</th>
                                <td>@Html.TextBoxFor(model => model.Price, new { @class = "textbox" })</td>
                            </tr>
                            <tr>
                                <th class="col-lg-1" style="text-align:center;">CPU</th>
                                <td>@Html.TextBoxFor(model => model.CPU, new { @class = "textbox" })</td>
                            </tr>
                            <tr>
                                <th class="col-lg-1" style="text-align:center;">Bộ Nhớ</th>
                                <td>@Html.TextAreaFor(model => model.StorageAmount, new { @class = "textbox" })</td>
                            </tr>

                            <tr>
                                <th class="col-lg-1" style="text-align:center;">Pin</th>
                                <td>@Html.TextAreaFor(model => model.Pin, new { @class = "textbox" })</td>
                            </tr>
                            <tr>
                                <th class="col-lg-1" style="text-align:center;">Ngày Tạo</th>
                                <td>
                                    <div>
                                        <section class="content">
                                            <div class="row">
                                                <div class='col-sm-3'>
                                                    <div class="form-group">
                                                        <div class='input-group date' id='datetimepicker1'>
                                                            @Html.EditorFor(model => model.CreateDate, new { @class = "textbox1" })
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </section>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="submit" value="Update" name="Update" class="btn btn-default" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

